<ion-header class="ion-no-border">
    <ion-toolbar color="dark">
        <ion-title>
            Pendientes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">


    <app-listas [terminada]="false">

    </app-listas>

    <!-- <ion-list color="dark">
        <ion-item *ngFor="let lista of deseosSerivce.listas" detail color="dark" (click)="listaSeleccionada(lista)">
            <ion-label>{{ lista.titulo }}</ion-label>
            <ion-note slot="end">{{ lista.items.length }} items</ion-note>
        </ion-item>

    </ion-list> -->

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="agregarLista()">
        <ion-fab-button color="tertiary">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>