<h4>Formularios <small> Templates </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar(form)" #form="ngForm">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" type="text" name="nombre" placeholder="Nombre" [class.is-invalid]="nombre.invalid && nombre.touched" [ngModel]="usuario.nombre" required minlength="5" #nombre="ngModel">
                <small *ngIf="nombre.invalid && nombre.touched" class="form-text text-danger">Ingrese 5 letras</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control" type="text" name="apellido" placeholder="Apellido" required minlength="5" ngModel [class.is-invalid]="apellido.invalid && apellido.touched" #apellido="ngModel">
                <small *ngIf="apellido.invalid && apellido.touched" class="form-text text-danger">Ingrese 5 letras</small>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">
            Correo
        </label>
        <div class="col-8">
            <input class="form-control" type="email" placeholder="Correo electrónico" [class.is-invalid]="correo.invalid && correo.touched" ngModel name="correo" #correo="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
            <small *ngIf="correo.invalid && correo.touched" class="form-text text-danger">Ingrese el correo</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Pais</label>
        <div class="col-8">
            <select class="form-control" name="pais" [disabled]="paises.length===0" [ngModel]="usuario.pais" ngModel required [class.is-invalid]="pais.invalid && pais.touched" #pais="ngModel">
                <option *ngFor="let pais of paises" [value]="pais.codigo">
                    {{ pais.nombre }}
                </option>
            </select>

        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label"> Genero </label>
        <div class="col-8">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genero" value="M" [class.is-invalid]="genero.invalid && genero.touched" [ngModel]=usuario.genero requiered #genero="ngModel">
                <label class="form-check-label">Masculino</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genero" value="F" [ngModel]=usuario.genero required [class.is-invalid]="genero.invalid && genero.touched" #genero="ngModel">
                <label class="form-check-label">Femenino</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>

</form>