<h4>
    Formularios <small> Reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col">

                <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre" [class.is-invalid]="nombreNoValido">
                <small clss="text-danger" *ngIf="nombreNoValido">Ingrese 5 letras</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col">

                <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido" [class.is-invalid]="apellidoNoValido">
                <small clss="text-danger" *ngIf="apellidoNoValido">Ingrese el apellido</small>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col">

            <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="correo" [class.is-invalid]="correoNoValido">
            <small clss="text-danger" *ngIf="correoNoValido">Ingrese el correo</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Usuario</label>
        <div class="col">

            <input class="form-control" type="text" placeholder="Nombre de usuario" formControlName="usuario" [class.is-invalid]="usuarioNoValido">
            <small clss="text-danger" *ngIf="usuarioNoValido">Ese nombre de usuario ya fue tomado</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Contraseña</label>
        <div class="col">

            <input class="form-control" type="password" placeholder="Contraseña" formControlName="pass1" [class.is-invalid]="pass1NoValido">

        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">Repita Contraseña</label>
        <div class="col">

            <input class="form-control" type="password" placeholder="Contraseña" formControlName="pass2" [class.is-invalid]="pass2NoValido">

        </div>
    </div>


    <div class="form-group row" formGroupName="direccion">
        <label class="col-2 col-form-label">Direccion</label>
        <div class="form-row col">

            <div class=" col ">
                <input type="text " class="form-control" placeholder="Distrito " [class.is-invalid]="distritoNoValido" formControlName="distrito">
            </div>
            <div class=" col ">
                <input type="text " class="form-control" placeholder="Ciudad " [class.is-invalid]="ciudadNoValido" formControlName="ciudad">
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col">

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Pasatiempo</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody formArrayName="pasatiempos">
                    <tr *ngFor="let control of pasatiempos.controls let i=index">
                        <td>{{ i + 1 }}</td>
                        <td>
                            <input class="form-control" type="text" [formControlName]="i">
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="borrarPasatiempo(i)">
                                Borrar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary mt-3 mb-5 btn-block" type="button" (click)="agregarPasatiempo()">
                +Agregar
            </button>
        </div>
    </div>

    <div class="form-group row ">
        <label class="col-2 col-form-label ">&nbsp;</label>
        <div class="input-group col">
            <button type="submit " class="btn btn-outline-primary btn-block ">
        Guardar
      </button>
        </div>
    </div>

</form>

<hr>

<pre>
    Estado del formulario: {{ forma.valid }}
    <br>
    Status: {{ forma.status }}
</pre>

<pre>
    {{ forma.value | json}}
</pre>